# Виртуальное окружение
venv/
env/
.venv/
myenv

# PyCharm
.idea/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Файлы с кешем Python
__pycache__/
*.pyc
*.pyo

# Датасеты
data
flickr30k_images/
